<?xml version="1.0" encoding="UTF-8"?>
<Context>

    <Resource name="jdbc/Staging"
              global="jdbc/Staging"
              auth="Container"
              factory="org.apache.tomcat.dbcp.dbcp2.BasicDataSourceFactory"
              type="javax.sql.DataSource"
              driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://10.53.116.32:5432/staging"
              username="devstaging"
              password="devstaging"
              maxTotal="20"
              maxIdle="10"
              initialSize="5"
              maxWaitMillis="-1"/>

    <Environment name="kafkaAudit/bootstrapServers" value="10.53.223.8:9092, 10.53.223.204:9092, 10.53.223.63:9092"
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaAudit/SecurityProtocol" value="PLAINTEXT"
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaSSL/trustStoreLocation" value=""
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaSSL/trustStorePassword" value=""
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaSSL/keyPassword" value=""
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaSSL/keyStorePassword" value=""
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaSSL/keyStoreLocation" value=""
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaConsumer/bootstrapAddress" value="10.53.227.190:9092"
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaConsumer/SecurityProtocol" value="PLAINTEXT"
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaConsumer/topics" value="delta-crm_corp-SIEBEL_CX_TXB_EVT,delta-crm_corp-SIEBEL_CX_TXB_LOG_STAT,delta-crm_corp-SIEBEL_CX_TXB_HIST,delta-crm_corp-SIEBEL_CX_DEPOSIT,delta-crm_corp-SIEBEL_S_SRV_REQ_X"
                 type="java.lang.String" override="false"/>

<!--    TODO подставить корректный id приложения. Временно пользуемся id для Сервис преобразования&ndash;&gt;-->
<!--    TODO id нашего приложения: nrtservice-ser-4fdf-9369-579fffb2f03b-->
    <Environment name="kafka/PersistService/appId" value="sbrdservice-ser-421a-b27e-817a2339cb54"
                 type="java.lang.String" override="false"/>
<!--    TODO подставить корректный id приложения. Временно пользуемся id для Сервис преобразования&ndash;&gt;-->
    <Environment name="kafkaAudit/topicName" value="sbrdservice-ser-421a-b27e-817a2339cb54"
                 type="java.lang.String" override="false"/>

    <Environment name="kafkaAudit/modeId" value="SBERBOARD-PERSIST-AGENT-SmirnovSIGMA-test"
                 type="java.lang.String" override="false"/>

    <Environment name="PersistService/logs/filePath" value="c:/Temp/"
                 type="java.lang.String" override="false"/>

    <Environment name="PersistService/logs/arhSize" value="10M"
                 type="java.lang.String" override="false"/>

</Context>